* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url('../Photos/LoginBack.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    padding: 80px 30px;
    box-shadow: 10px 10px 15px #888888;
    background: linear-gradient(#ffffff34,#ffffff27);
    backdrop-filter: blur(7px); 
}
.Title{
    text-align:center;
    color: white;
    font-family: Arial;
    font-weight:700;
}
.field {
    display:flex;
    position: relative; 
    width: 400px; 
    margin: 40px 61px;
}
    .field input {
        width: 100%;
        font-size: 16px;
        padding: 15px 40px 15px 20px;
        border-radius: 25px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
    }
.fields {
    list-style: none;
}
.icon {
    position: absolute; 
    top: 50%; 
    right: 12px;
    transform: translateY(-50%);
    width: 25px; 
    pointer-events: none;
}
.buttonLogin{
    margin-left: 94px;
    margin-right:6px;
}
button {
    margin-top: 17px;
    width: 160px;
    padding: 14px;
    border-radius: 17px;
    font-size: 14px;
    margin-bottom: 7px;
    border: none;
}
.register-link {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-weight: 500;
}
.register-link a {
    text-decoration:none;
    color: #fff;
    font-weight: bold;
}